/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   GLOBAL
========================= */
body {
  font-family: Georgia, serif;
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* =========================
   TEXT
========================= */
h2 {
  color: var(--heading-color);
  font-weight: normal;
}

p {
  color: var(--soft-text);
}